# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
eggs/
*.egg

# Virtual Environment
.venv/
venv/
ENV/

# IDE
.idea/
*.swp
*.swo


# Test & Reports
.pytest_cache/
test-results/
allure-results/
allure-report/
reports/

# Environment Variables
.env
.env.local


# Logs
*.log
